body { 

    /* display: flex;
    justify-content: space-between;
    align-items:flex-end;
    flex-direction: column; */

}
/* 
.box1 {
    background-color: blue;
    width: 20px;
    height: 20px;
}

.box2 {
    background-color: yellow;
    width: 20px;
    height: 20px;
} */

h1 {
    /* width: 20px;
    height: 20px; */
    /* background-color: tomato; */
}